/* Ecommerce website CSS */

/* Set background color for entire page */
body {
background-color: #faf7c8;
}

/* Style for header */
header {
background-color: #333333;
color: #ffffff;
padding: 20px;
text-align: center;
font: bold
}

/* Style for main content section */
main {
padding: 20px;
}

/* Style for product cards */
.product-card {
background-color: #b4a4a4;
border: 2px solid #E5E5E5;
padding: 20px;
margin-bottom: 20px;
}

.img-and-info{
  display:flex;
}

.product-info{
  float:right;
  padding:3%;
  font-size: 20px;
}

.Product1{
height:14%;

width:14%;
display: flex;
}
/* Style for product name */
.product-name {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}

/* Style for product price */
.product-price {
color: #333333;
font-size: 18px;
margin-bottom: 10px;
}

/* Style for add to cart button */
.add-to-cart-btn {
background-color: #333333;
color: #FFFFFF;
padding: 10px 20px;
border: none;
cursor: pointer;
}
.add-to-cart-btn:hover {background-color: #334f34}

.add-to-cart-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
